*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    font-family: "Playfair Display";
}

:root{
    --primary:#EAA636;
    --secondary:#FDF5EB;
    --lightBlack:#1E1916;
    --shadow:rgba(0,0,0,0.4);
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

a:active{
    color: var(--primary);
}

/* ================================Header================================ */
header nav a{
    text-decoration: none;
}
header {
    background: transparent;
    position: relative;
    z-index: 1;
    color: white;
    padding: 20px;
    height: 90px;
}

header nav{
    display: flex;
    justify-content: center;   
}
header .logo{
    font-size: 30px;
    font-weight: bold;
    color: var(--primary);
}
header nav  #ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 820px;
    margin-top: 7px;
    padding: 0px;
    background: transparent;
}
header nav  #ul a{
    padding: 10px;
    color: white;
}
header #subMenu{
    display: none;
    position: relative;
    z-index: 3;
    color: white;
    background: var(--lightBlack);
    width: 150px;
    margin-top: 30px;
    padding: 10px;
}

header #parentSub:hover #subMenu{
    display: block;
}
header #toggleMenu{
  font-size: 27px;
  display: none;
}
header #togglecencle{
    font-size: 27px;  
    display: block;
    float: right;
    margin-top: -30px;
    display: none;
}

header .orderNow{
    background: transparent;
    border: 1px solid var(--primary);
    color: white;
    padding: 15px 30px;
    border-radius: 30px;
    text-align: center;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .orderNow:hover{
    background: var(--primary);
}

.sticky{
    background: var(--shadow);
    position: fixed;
    top: 0;
    width: 100%;
}
/* =================================section1============================== */
#section1{
    background: url(images/carousel-1\ \(1\).jpg);
    height: 130vh;
    margin-top: -155px;
}
#section1 #sectionContainer{
    background: var(--shadow);
    height: 130vh;
}
#section1 #sectionContainer .container{
    padding-top: 20%;
}
span{
    color: var(--primary);
    font-weight: bold;
}

.title{
    font-family: "Playfair Display";
    font-size: 80px;
    font-weight: 96px;
    color: white;
}
.description{
    color: white;
}

.commonBtn{
    background: var(--primary);
    border: 1px solid var(--primary);
    color: white;
    padding: 15px 38px;
    border-radius: 30px;
    text-align: center;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

/* =================================section2============================== */
#section2{
    padding-top: 100px;
    padding-bottom: 100px;
    background: white;
    font-family: "Playfair Display";
}
#section2 .container{
    display: block;
    justify-content: center;
    align-items: center; 
}
#section2 .gridContainer{
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(auto-fill, 250px);
}
#section2 .gritItem{
    background: white;
    box-shadow: 1px 1px 6px gray;
    padding: 20px;
    text-align: center;
    height: 290px;
    margin-top: 20px;
}

#section2 .gritItem:hover{
    background: var(--secondary);
    box-shadow: 1px 1px 8px black;
}
#section2 i{
    color: var(--primary);
    font-size: 50px;
    margin-top: 30px;
}
#section2 h1{
    font-size: 50px;
    margin-top: 20px;
    font-weight: 800;
}

#section2 span{
    color: black;
    font-size: 20px;
}

/* =================================section3============================== */
#section3{
    height: 100%;
    width: 100%;
    background: white;
    padding-bottom: 100px;
}

#section3 img{
   width: 100%;
}
#section3 #div2{
    margin-top: 40px;
}
#section3 .span{
    color: var(--primary);
    font-weight: bold;
}

#section3 .title{
    font-family: "Playfair Display";
    font-size: 40px;
    color: black;
    line-height: 50px;
}
#section3 p{
    color: gray;
}
#section3 i{
    color: var(--primary);
    font-size: 18px;
    float: left;
    padding: 8px;
 }
 #section3 span{
    color: black;
    font-weight: bold;
}
/* =================================section4============================== */
#section4{
    height: 100%;
    width: 100%;
    background: white;
    padding-bottom: 70px;
    font-family: "Playfair Display";
    font-weight: 800;
}
#section4 .container{
    padding: 80px;
    background: var(--primary);
    border-radius: 30px;
    color: white;
}
/* =================================section5============================== */
#section5{
    height: 100%;
    width: 100%;
    background: var(--secondary);
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 30px;
    padding-right: 30px;
}

#section5 span{
    color: var(--primary);
    font-weight: bold;
}

#section5 h1{
    font-family: "Playfair Display";
    font-size: 40px;
    color: black;
    line-height: 50px;
    font-weight: 700;
}
#section5 .gridContainer{
    display: grid;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 340px);
  }
  #section5 .gritItem{
      background: white;
      box-shadow: 1px 1px 6px gray;
      padding: 20px;
      text-align: center;
      margin-top: 20px;
      border-radius: 20px;
  }
  #section5 .itemBtn{
    border: 1px solid var(--primary);
    border-radius: 30px;
    padding: 10px;
    background: white;
    margin-top: 30px;
  }
  #section5 img{
    width: 100%;
  }
  /* =================================section6============================== */
#section6{
    height: 100%;
    width: 100%;
    background: white;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: "Playfair Display";

}

#section6 span{
    color: var(--primary);
    font-weight: bold;
}

#section6 h1{
    font-family: "Playfair Display";
    font-size: 40px;
    color: black;
    line-height: 50px;
}
#section6 img{
   width: 100%;
}
#section6 #div2{
    margin-top: 40px;
}

#section6 p{
    color: gray;
}
#section6 i{
    height: 100%;
    color:white;
    font-size: 18px;
    float: left;
    padding: 8px;
    background: var(--primary);
    border-radius: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
 }
/* =================================section7============================== */
  #section7{
    height: 100%;
    width: 100%;
    background: white;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Playfair Display";
}
#section7 h6{
    color: var(--primary);
    font-weight: bold;
    text-align: center;
}
#section7 h1{
    font-family: "Playfair Display";
    font-size: 40px;
    color: black;
    line-height: 50px;
    text-align: center;
}
#section7 .gridContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill , 260px);
    column-gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
#section7 .gridContainer .gridItem1{
  height: 50vh;
  background: url(images/man1.jpg) no-repeat;
  background-size: contain;
}
#section7 .gridContainer .gridItem2{
    height: 50vh;
    background: url(images/man2.jpg) no-repeat;
    background-size: contain;
}
#section7 .gridContainer .gridItem3{
    height: 50vh;
    background: url(images/man3.jpg) no-repeat;
    background-size: contain;
}
#section7 .gridContainer .gridItem4{
    height: 50vh;
    background: url(images/man4.jpg) no-repeat;
    background-size: contain;
}
#section7 .surface{
   display: none;
   background: var(--shadow);
   height: 0;
   transition: 2s;
}
#section7 .cart:hover .surface{
    display: block;
    background: var(--shadow);
    height: 45vh;
 }
#section7 .surface h1{
    text-align: center;
   padding-top: 110px;
   color: white;
}
#section7 .surface p{
    text-align: center;
    color: white;
}
#section7 .surface .socialMedia{
    display: flex;
    justify-content: center;
    align-items: center;
}
#section7 i{
    color: white;
    background: var(--primary);
    padding: 8px;
    border-radius: 20px;
    margin: 6px;
 }
/* =================================section8============================== */
#section8{
    height: 100%;
    width: 100%;
    background: white;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Playfair Display";
}

#section8 .gridContainer{
  display: grid;
  grid-template-columns: repeat(auto-fill, 370px);
  column-gap: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}
#section8 .gridContainer .gridItem{
    padding: 40px;  
    background: #f5f5f5f5;
    border-radius: 10px;
    transition: .50s ;
    margin-top: 10px;
}

#section8 h6{
    color: var(--primary);
    font-weight: bold;
    text-align: center;
}

#section8 h1{
    font-family: "Playfair Display";
    font-size: 40px;
    color: black;
    line-height: 50px;
    text-align: center;
}
#section8 .client{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: 4px solid white;
}
#section8 .gridContainer .gridItem:hover{
    background: var(--primary);
    color: white;
}
/* =================================section8============================== */
#footerContainer{
  padding: 60px;
  background: var(--lightBlack);
  color: white;
}

#footerContainer i{
    float: left;
    margin: 2px;
    padding: 2px;
}
 #footerContainer li a{
    color: white;
    text-decoration: none;
    padding: 0px;
 }

 #footerContainer #bottomFooter{
    background: #1D1D1D;
    padding: 10px;
    padding-top: 30px;
}

/* =================================About Section=================================== */
#aboutSection1{
    background: url(images/carousel-1\ \(1\).jpg);
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;margin-top: -100px;
    margin-bottom: 70px;
}
#aboutSection1 .aboutSection1Contaiber{
    background: rgba(0.10,0.10,0.10,0.4);
    height: 70vh;

}
#aboutSection1 .aboutSection1Contaiber h1{
    text-align: center;
    padding-top: 35vh;
  }
/* =================================Service Section=================================== */
#serviceSection1{
    background: url(images/carousel-1\ \(1\).jpg);
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;margin-top: -100px
}
#serviceSection1 .serviceSection1Contaiber{
    background: rgba(0.10,0.10,0.10,0.4);
    height: 70vh;
    width: 100%;
    height: 100%;    
}
#serviceSection1 .serviceSection1Contaiber h1{
  text-align: center;
  padding-top: 35vh;
}
/* =================================product Section=================================== */
#productSection1{
    background: url(images/carousel-1\ \(1\).jpg);
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;margin-top: -100px
}
#productSection1 .productSection1Contaiber{
    background: rgba(0.10,0.10,0.10,0.4);
    height: 70vh;
}
#productSection1 .productSection1Contaiber h1{
    text-align: center;
    padding-top: 35vh;
  }
/* =================================Our team Section=================================== */
#ourteamSection1{
    background: url(images/pexels20.jpg);
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;margin-top: -100px
}
#ourteamSection1 .ourteamSection1Contaiber{
    background: rgba(0.10,0.10,0.10,0.4);
    height: 70vh;
}
#ourteamSection1 .ourteamSection1Contaiber h1{
    text-align: center;
    padding-top: 35vh;
}
/* ================================= Testimonial Section=================================== */

#testimonialSection1{
    background: url(images/carousel-1\ \(1\).jpg);
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;margin-top: -100px
}

#testimonialSection1 .testimonialSection1Contaiber{
    background: rgba(0.10,0.10,0.10,0.4);
    height: 70vh;
}
#testimonialSection1 .testimonialSection1Contaiber h1{
    text-align: center;
    padding-top: 35vh;
}
/* =================================Contact Section=================================== */
#contactSection1{
    background: url(images/carousel-1\ \(1\).jpg);
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;margin-top: -100px;
    margin-bottom: 70px;
}
#contactSection1 .contactSection1Contaiber{
    background: rgba(0.10,0.10,0.10,0.4);
    height: 70vh;
}
form{
    width: 400px;
}
#contactSection1 .contactSection1Contaiber h1{
    text-align: center;
    padding-top: 35vh;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: var(--primary);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .50s ;
  }
  
  input[type=submit]:hover {
    background-color: var(--lightBlack);
    border: 1px solid var(--primary);
  }
  .contactContainer{
    width: 400px;
  }

  #formcontainer {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 50px;
    width: 500px;
  }
